#ventanaLogin {
    -fx-background-image: url("0.jpg");
    -fx-background-size: cover;
}

#ventanaRegistro {
    -fx-background-image: url("6.jpg");
    -fx-background-size: cover;
}

#anc_inicio {
    -fx-background-image: url("1.jpg");
    -fx-background-size: cover;
}

#anc_miCuenta {
    -fx-background-image: url("5.jpg");
    -fx-background-size: cover;

}

#anc_recuperacion {
    -fx-background-image: url("2.jpg");
    -fx-background-size: cover;
}

.text-field:focused {
    -fx-background-color: rgba(46, 37, 89, 0.7); /* Color de fondo con opacidad */
    -fx-background-radius: 15; /* Radio de las esquinas del fondo */
    -fx-text-fill: #ffffff;
}
#anc_crear {
    -fx-background-image: url("1.jpg");
    -fx-background-size: cover;
}

#tblDestinos {
    -fx-background-color: #593f70;
}

#tblDestinos .table-cell {
    -fx-text-fill: #ffffff;
}

#tblDestinos .table-row-cell {
    -fx-background-color: #2e2559;
}

#anc_crear{
    -fx-background-color: rgba(46, 37, 89, 0.7); /* Color de fondo con opacidad */
    -fx-background-size: cover;
}

.combo-box {
    -fx-background-color: rgba(46, 37, 89, 0.7); /* Color de fondo */
    -fx-text-fill: #000000; /* Color del texto */
}

.combo-box .list-cell {
    -fx-background-color: #2e2559;
    -fx-text-fill: #ffffff; /* Cambia el color del texto a rojo (#ff0000) */
}










