#ventanaLogin {
    -fx-background-image: url("0.jpg");
    -fx-background-size: cover;
}

#ventanaRegistro {
    -fx-background-image: url("6.jpg");
    -fx-background-size: cover;
}


#anchorPaneInicio {
    -fx-background-image: url("1.jpg");
    -fx-background-size: cover;
}

#anchorPaneMiCuenta {
    -fx-background-image: url("5.jpg");
    -fx-background-size: cover;

}

#anchorPaneRecuperar {
    -fx-background-image: url("2.jpg");
    -fx-background-size: cover;
}

.text-field:focused {
    -fx-background-color: rgba(46, 37, 89, 0.7); /* Color de fondo con opacidad */
    -fx-background-radius: 15; /* Radio de las esquinas del fondo */
    -fx-text-fill: #ffffff;
}

#anchorPaneCrear {
    -fx-background-image: url("1.jpg");
    -fx-background-size: cover;
}

#tablaDestinos {
    -fx-background-color: #593f70;
}

#tablaDestinos .table-cell {
    -fx-text-fill: #ffffff;
}

#tablaDestinos .table-row-cell {
    -fx-background-color: #2e2559;
}

#tablaPaquetes.table-row-cell {
    -fx-background-color: #2e2559;
}

#anchorPaneCrear {
    -fx-background-color: rgba(46, 37, 89, 0.7); /* Color de fondo con opacidad */
    -fx-background-size: cover;
}

.combo-box {
    -fx-background-color: rgba(46, 37, 89, 0.7); /* Color de fondo */
    -fx-text-fill: #000000; /* Color del texto */
}

.combo-box .list-cell {
    -fx-background-color: #2e2559;
    -fx-text-fill: #ffffff;
    -fx-border-color: #0A1425;
}

#scrollPanelContenedor .scroll-bar {
    -fx-background-color: rgba(10, 20, 37, 0.7); /* Cambia el color de fondo de las barras de desplazamiento */

}

#scrollPanePaquetes .scroll-bar {
    -fx-background-color: rgba(10, 20, 37, 0.7);
}

#gridPaquetes {
    -fx-background-image: url('17.jpg');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

#gridOfertas {
    -fx-background-image: url('17.jpg');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

#anchorPaneChats {
    -fx-background-image: url("21.jpg");
    -fx-background-size: cover;
}


.chart-bar {
    -fx-bar-fill: #2e2559; /* Color de las barras */
}

.chart-title {
    -fx-font-size: 16px; /* Tamaño de fuente del título */
    -fx-text-fill: #ffffff; /* Cambiar el color del texto del título a rojo (#e74c3c) */
}

.chart-bar {
    -fx-font-size: 14px; /* Tamaño de fuente de las etiquetas de datos */
    -fx-text-fill: #000000; /* Cambiar el color del texto de las etiquetas de datos a azul (#3498db) */
}









