#ventanaLogin{
    -fx-background-image: url("5.jpg");
    -fx-background-size: cover;
}

#ventanaRegistro{
-fx-background-image: url("6.jpg");
-fx-background-size: cover;
}

#anc_inicio{
    -fx-background-image: url("6.jpg");
    -fx-background-size: cover;
}

#anc_miCuenta{
    -fx-background-image: url("6.jpg");
    -fx-background-size: cover;

}




