#ventanaLogin{
    -fx-background-image: url("5.jpg");
    -fx-background-size: cover;
}

#ventanaRegistro{
-fx-background-image: url("6.jpg");
-fx-background-size: cover;
}

#ventanaPrincipal{
    -fx-background-image: url("7.jpg");
    -fx-background-size: cover;
}

